.vscode
.idea
.DS_Store
*.js
*.js.map
*.log
!src/scripts/*.js
!seed-tests/*.js
seed-tests/seed-copy/**/*.*
seed-tests/seed-copy-new-git-repo/**/*.*
demo/app/*.js
!demo/karma.conf.js
!demo/app/tests/*.js
demo/*.d.ts
!demo/references.d.ts
demo/lib
demo/platforms
demo/node_modules
node_modules
publish/src
publish/package

/demo/hooks/
/src/package
/src/*.tgz
*.d.ts
!/src/typings/*.d.ts
!/src/references.d.ts
!/src/.idea/
!/demo/.idea/
!/demo/references.d.ts
!/src/index.d.ts

!/src/payments.d.ts
!/src/item/item.d.ts
!/src/order/order.d.ts
!/.idea/nativescript-payments.iml
# coming soon
/demo/**/*
