/**
!/platforms/**
!/failure/index.d.ts
!/failure/failure.d.ts
!/failure/failure.common.d.ts
!/failure/*.js
!/item/index.d.ts
!/item/item.d.ts
!/item/item.common.d.ts
!/item/*.js
!/order/index.d.ts
!/order/order.d.ts
!/order/order.common.d.ts
!/order/*.js
!/index.d.ts
!/payments.d.ts
!/payments.android.js
!/payments.ios.js
!/payments.common.js
!README
