.DS_Store
package.json
package-lock.json
apps/*/src/assets/scripts/*.js
src/assets/scripts/*.js
src/assets/*.*
**/apps/**/platforms/**/*
**/App_Resources/**/*
**/apps/nativescript-*/hooks/**/*
**/apps/nativescript-*/tools/**/*
**/apps/nativescript-*/app/assets/*.min.css
**/apps/nativescript-*/app/assets/lottie/*.json
**/xplat/nativescript/plugins/**/*
**/package.json
**/package-lock.json
**/tslint.json
**/tsconfig.*.json
**/tsconfig.json
